//green
//$theme: #27ae60;
//$theme-secondary:#2ecc71;
//purple
//$theme: #3742fa;
//$theme-secondary:#5352ed;
//purple2
$theme: #5a196b;//#4c175a;
$theme-secondary:#771e8f;
//pink
//$theme:#e84393;
//$theme-secondary:#fd79a8;
//red
//$theme:#ff4757;
//$theme-secondary:#ff6b81;
//default blue
//$theme: #4c5fe2;
//$theme-secondary:#5757e0;

*{
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
:root{
    --content-width:70%;
    --content-top:35vh;
}
#nav{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    //border-bottom: 1px solid black;
    overflow: hidden;
    color:#000;
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    //background: #fff;
    a{
        text-decoration: none;
        color: inherit;
    }
    .nav2{
        width: calc(var(--content-width) - 72px);
        margin: 0 auto;
        display: block;
        position: relative;
        height: calc(100% - 24px);
        //border-right: 1px solid red;
        //border-left: 1px solid red;
        padding: 12px 0;
        padding-left: 72px;
    }
    h1{
        color: inherit;
        transition: color var(--light-mode-transition) ease;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        //background: yellow;
        width: fit-content;
        max-width: 20em;
        //text-align: center;
        line-height: 31px;
        font-weight: 700;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
    }
    #navigate-library{
        text-decoration: none;
        float: right;
        display: block;
        position: relative;
        margin-left: 12px;
        cursor: pointer;
        transition: 0.3s ease;
        h1{
            color: inherit;
            transition: color var(--light-mode-transition) ease;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            //background: yellow;
            width: fit-content;
            max-width: 20em;
            //text-align: center;
            line-height: 31px;
            font-weight: 700;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
        }
        &:hover{
            color: $theme-secondary;
        }
    }
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#mobile-scroller{
    position: absolute;
    z-index: 14;
    display: block;
    opacity: 0;
    height: calc(100%);
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    span{
        display: block;
        position: relative;
        height: 105%;
        width: 100%;
    }
}
#wrapper{
    overscroll-behavior-y:contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    color:#000;
    font-size: 32px;
    //border:1px dashed red;
    //pointer-events: none;
    z-index: 10;
    //&::-webkit-scrollbar {
    //    display: none;
    //}
    //-ms-overflow-style: none;
    //scrollbar-width: none;

    .logo{
        position: absolute;
        padding: 10px;
        background-color: white;
        color: #000;
        //border: 1px solid red;
        height: 56px;
        width: 56px;
        display: block;
        //cursor: pointer;
        top: 20px;
        left: calc(50% - 33px);
        z-index: 50;
        //opacity: 0;
    }
    #page-count{
        position: absolute;
        top:calc(var(--content-top) + 16px);
        right: calc(80px + var(--content-width) + ((100% - var(--content-width)) / 2));
        padding-right: 5px;
        //opacity: 0;
        z-index: 50;
        .count{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 900;
            color:#fff;
            font-size: 0.8em;
            letter-spacing: -1px;
        }
        .line{
            content:"";
            width: 80px;
            border-bottom: 1px solid;
            border-color:#fff;
            display: block;
            position: absolute;
            right: -80px;
            top: calc(50% + 2px);
        }
    }
    .pages{
        height: fit-content;
        width: 100%;
        //background-color: yellow;
        display: block;
        position: absolute;
        top: 100vh;
        pointer-events: auto;
        z-index: 45;
        .page{
            position: relative;
            height: 100vh;
            width: 100vw;
            display: block;
            margin: 0;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 50;
            
        }
        .page[data-page="1"]{
            background-color: #000;
            color:#fff;
            border-color: #fff;
            .bg-img{
                background-image: url('../p/ipadp_wuxia.png');
            }
        }
        .page[data-page="2"]{
            background-color: #fff;
            color:#000;
            border-color: #000;
            .bg-img{
                background-image: url('../p/ipadp_addnovel.png');
                box-shadow: 0 0px 50px 12px rgba(0, 0, 0, 0.4);
            }
        }
        .page[data-page="3"]{
            background-color: #000;
            color:#fff;
            border-color: #fff;
            .bg-img{
                background-image: url('../p/ipadp_read.png');
            }
        }
        .bg-img{
            //261 x 563
            //522 x 1126
            //width: 261px;
            //height: 563px;
            width:35vw;
            height: calc(35vw / 0.75);
            top: calc(50% - ((35vw / 0.75) / 2) );
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            //border: 1px solid red;
            position: absolute;
            right: calc((100% - var(--content-width)) / 2);
            overflow: hidden;
            box-shadow: 0 0px 50px 12px rgba(93, 93, 93, 0.4);
            border-radius: 10px;
        }
    }
    #page0{
        position: absolute;
        height: 100%;
        width: 100vw;
        display: block;
        margin: 0;
        top:0;
        left:0;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 55;
        background-color: #fff;
        color:#000;
        .begin{
            position: absolute;
            width: 300px;
            //border:1px solid blue;
            bottom: 0;
            left:calc(50% - 150px);
            display: block;
            z-index: 60;
            .text{
                color:#000;
                font-size: 20px;
                font-weight: 200;
                text-align: center;
                padding-bottom: 60px;
                display: block;
                font-family: 'Lora', serif;
            }
            .line{
                height: calc(100% - 25px);
                position: absolute;
                bottom: 0;
                border-right: 1px solid #000;
                left: 150px;
            }
        }
        .content{
            .major{
                font-weight: 400;
                font-size: 1.4em;
                line-height: 1.4em;
                width:95%;
            }
            .minor{
                color: #666666;
                width: 90%;
            }
        }
        .bg-img{
            //261 x 563
            //522 x 1126
            //width: 261px;
            //height: 563px;
            width:30vw;
            height: calc(30vw / 0.75);
            top: calc(50% - ((30vw / 0.75) / 2) + 30px);
            background-image: url('../p/ipadp_library.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            //border: 1px solid red;
            position: absolute;
            right: calc((100% - var(--content-width)) / 2);
            overflow: hidden;
            box-shadow: 0 0px 50px 12px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
    }
    .content{
        width: calc(var(--content-width) - 30vw);
        padding-right:30vw;
        //only use left half of page? (image on right half)
        height: calc(100vh - var(--content-top));
        margin: 0 auto;
        margin-top: var(--content-top);
        //border: 1px solid green;
        .major{
            font-family: 'Open Sans', sans-serif;
            color: inherit;
            font-size: 2em;
            font-weight: 900;
            color:inherit;
            //border-right: 1px solid red;
            line-height: 1.2em;
            width:80%;
        }
        .minor{
            font-family: 'Lora', serif;
            //color: inherit;
            font-size: 0.8em;
            font-weight: 300;
            margin-top: 0.5em;
            color: inherit;
            line-height: 1.6em;
            width: 60%;
            //border-right:1px solid blue;
            a{
                text-decoration: none;
                font-family: inherit;
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                //margin-top: inherit;
                color: inherit;
                line-height: inherit;
                white-space: nowrap;
                overflow: visible;
                text-overflow: initial;
                transition: color 0.3s ease;
                svg{
                    color:inherit;
                    height: 16px;
                    width:14px;
                    margin: 2px;
                    transform: translateY(3px);
                }
                &:hover{
                    color: $theme-secondary;
                    /*svg{
                        color: $theme-secondary;
                    }*/
                }
            }
        }
        .sep{
            border-color:inherit;
            border-bottom: 1px solid;
            width: 80px;
            display: block;
            height: 1px;
            margin: 35px 0;
        }
        
    }
    
    /*.wrapper2{
        height: fit-content;
        width: 60%;
        position: relative;
        margin:0 auto;
        box-sizing: border-box;
        border: 1px solid green;
        .major{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: inherit;
            font-size: 1.2em;
            font-weight: 600;
        }
        .minor{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            //color: inherit;
            font-size: 0.8em;
            font-weight: 400;
            margin-top: 0.5em;
            color: #7C7C7C
        }
        .landing-left{
            z-index: 10;
            width: calc(50%);
            box-sizing: border-box;
            border: 1px solid red;
            margin-top: 150px;
            display: block;
            height: 40vh;
            float: left;
            position: relative;
            padding: 2em 1em;
        }
        .landing-right{
            z-index: 15;
            width: 50%;
            box-sizing: border-box;
            border: 1px solid blue;
            margin-top: 150px;
            display: block;
            height: 40vh;
            float: right;
            position: relative;
        }
    }*/
}

.font2{
    font-family: "Merriweather",serif !important;
}
.font1{
    font-family: "Nunito Sans","SF Pro Text","SF Pro Icons","Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
}
@media only screen and (max-width: 1220px) {
    #wrapper{
        font-size: 28px;
    }
}
@media only screen and (max-width: 900px) {
    #wrapper{
        #page-count{
            right: calc(50px + var(--content-width) + ((100% - var(--content-width)) / 2));
            top:calc(var(--content-top) + 10px);
            .line{
                width: 50px;
                right: -50px;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    :root{
        --content-width:70vw;
        --content-top:15vh;
        --img-width:90vw;
    }
    #wrapper{
        font-size: 20px;
        #page-count{
            right: calc(20px + var(--content-width) + ((100% - var(--content-width)) / 2));
            top:calc(var(--content-top) + 10px);
            .line{
                width: 20px;
                right: -20px;
            }
        }
        .pages{
            .page[data-page="1"]{
                .bg-img{
                    background-image: url('../p/ipad_wuxia.png');
                }
            }
            .page[data-page="2"]{
                .bg-img{
                    background-image: url('../p/ipad_addnovel.png');
                    box-shadow: 0 0px 50px 12px rgba(0, 0, 0, 0.4);
                }
            }
            .page[data-page="3"]{
                .bg-img{
                    background-image: url('../p/ipad_read.png');
                }
            }
            .bg-img{
                //261 x 563
                //522 x 1126
                //width: 261px;
                //height: 563px;
                height:calc(var(--img-width) * 0.75);
                width: var(--img-width);
                top:calc(65vh - ((var(--img-width) * 0.75) / 2));
                right: calc((100% - var(--img-width)) / 2);
            }
        }
        #page0{
            .begin{
                .text{
                    padding-bottom: 30px;
                }
            }
            .content{
                .major{
                    font-weight: 400;
                    font-size: 1.4em;
                    line-height: 1.4em;
                    width:100%;
                }
                .minor{
                    width: 100%;
                }
            }
            .bg-img{
                //261 x 563
                //522 x 1126
                //width: 261px;
                //height: 563px;
                height:calc(var(--img-width) * 0.75);
                width: var(--img-width);
                top:calc(65vh - ((var(--img-width) * 0.75) / 2));
                right: calc((100% - var(--img-width)) / 2);
                background-image: url('../p/ipad_library.png');
            }
        }
        .content{
            width: var(--content-width);
            padding-right: 0;
            padding-left: 10px;
            height: calc(100vh - var(--content-top));
            margin-top: var(--content-top);
            .major{
                width: 100%;
            }
            .minor{
                width: 100%;
            }
            .sep{
                margin: 25px 0;
            }
        }
    }
}