//green
//$theme: #27ae60;
//$theme-secondary:#2ecc71;
//purple
//$theme: #3742fa;
//$theme-secondary:#5352ed;
//purple2
$theme: #5a196b;//#4c175a;
$theme-secondary:#771e8f;
//pink
//$theme:#e84393;
//$theme-secondary:#fd79a8;
//red
//$theme:#ff4757;
//$theme-secondary:#ff6b81;
//default blue
//$theme: #4c5fe2;
//$theme-secondary:#5757e0;

@keyframes ldio-rpinwye8j0b {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}
.ldio-rpinwye8j0b div {
    position: absolute;
    animation: ldio-rpinwye8j0b 1s linear infinite;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 $theme;
    transform-origin: 32px 32.8px;
}
.loadingio-eclipse {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}
.ldio-rpinwye8j0b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-rpinwye8j0b div { box-sizing: content-box; }
/*
<div class="loadingio-eclipse loader">
    <div class="ldio-rpinwye8j0b">
        <div>
        </div>
    </div>
</div>
*/

/*
.loader{
    //x2
    height: 160px;
    width: 160px;
    .ldio-rpinwye8j0b div{
        //x2
        transform-origin: 64px 65.6px;
    }
}
*/